<h1>New Event Deets</h1>

<form novalidate ng-submit="newEventForm.submit()">
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="name..." ng-model="newEventForm.newEvent.name">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="type..." ng-model="newEventForm.newEvent.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="String" placeholder="activities name..." ng-model="newEventForm.activities.name">
    <input class="u-full-width" type="String" placeholder="activities type..." ng-model="newEventForm.activities.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="Number" placeholder="Duration..." ng-model="newEventForm.newEvent.duration">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="Time" placeholder="Start time..." ng-model="newEventForm.newEvent.start">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="Number" min=0 max=5 placeholder="Rating.." ng-model="newEventForm.newEvent.rating">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="Number" placeholder="Attendance.." ng-model="newEventForm.newEvent.attendance">
  </div>
  <div class="row">
    <ul>
      <li ng-repeat="friend in main.allFriends">
        <label>
          {{friend.name}}
          <input type="checkbox" ng-true-value="'{{friend._id}}'" ng-false-value=null ng-model="newEventForm.newEvent.friends[$index]">
        </li>
      </ul>
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Description..." ng-model="newEventForm.newEvent.description">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Tags..." ng-model="newEventForm.newEvent.tags">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Substance name..." ng-model="newEventForm.substances.name">
    <input class="u-full-width" type="Number" placeholder="Substance type..." ng-model="newEventForm.substances.amount">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Positives..." ng-model="newEventForm.newEvent.positives">
  </div>
  <div class="row">
    <div class="row">
      <label class="formLabel"></label><br>
      <input class="u-full-width" type="string" placeholder="Negatives..." ng-model="newEventForm.newEvent.negatives">
    </div>
  <div class="row">
    <h3>Who Liked</h3>
    <ul>
      <li ng-repeat="friend in main.allFriends">
        <label>
          {{friend.name}}
          <input type="checkbox" ng-true-value="'{{friend._id}}'" ng-false-value=null ng-model="newEventForm.newEvent.whoLiked[$index]">
        </li>
      </ul>
  </div>
  <div class="row">
    <h3>Who Disliked</h3>
    <ul>
      <li ng-repeat="friend in main.allFriends">
        <label>
          {{friend.name}}
          <input type="checkbox" ng-true-value="'{{friend._id}}'" ng-false-value=null ng-model="newEventForm.newEvent.whoDisliked[$index]">
        </li>
      </ul>
  </div>
  <button class="buttonLog" id="newEventFormButton">Submit</button>
