<h3>Deets Please</h3>

<form novalidate ng-submit="newFriendForm.submit()">
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="name..." ng-model="newFriendForm.newFriend.name">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="Date" placeholder="DOB..." ng-model="newFriendForm.newFriend.dob">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Sex..." ng-model="newFriendForm.newFriend.sex">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Orientation.." ng-model="newFriendForm.newFriend.orientation">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Likes.." ng-model="newFriendForm.newFriend.likes">
  </div><div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Dislikes.." ng-model="newFriendForm.newFriend.dislikes">
  </div>
  <!-- <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Hobbies name.." ng-model="userForm.hobbies.name">
    <input class="u-full-width" type="string" placeholder="Hobbies type.." ng-model="userForm.hobbies.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Interests name.." ng-model="userForm.interests.name">
    <input class="u-full-width" type="text" placeholder="Interests type.." ng-model="userForm.interests.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Sign asc.." ng-model="userForm.sign.asc">
    <input class="u-full-width" type="text" placeholder="Sign sun.." ng-model="userForm.sign.sun">
    <input class="u-full-width" type="text" placeholder="Sign moon.." ng-model="userForm.sign.moon">
    <input class="u-full-width" type="text" placeholder="Sign mercury.." ng-model="userForm.sign.mercury">
    <input class="u-full-width" type="text" placeholder="Sign venus.." ng-model="userForm.sign.venus">
  </div> -->
  <button class="buttonLog" id="newFriendFormButton">Submit</buttonsign
