<h3>New Friend Deets Please</h3>

<form novalidate ng-submit="newFriendForm.submit()">
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="name..." ng-model="newFriendForm.newFriend.name">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="String" placeholder="email..." ng-model="newFriendForm.contact.email">
    <input class="u-full-width" type="Number" placeholder="phone..." ng-model="newFriendForm.contact.phone">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="Date" placeholder="DOB..." ng-model="newFriendForm.newFriend.dob">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Sex..." ng-model="newFriendForm.newFriend.gender">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Orientation.." ng-model="newFriendForm.newFriend.orientation">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Likes.." ng-model="newFriendForm.newFriend.likes">
  </div><div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Dislikes.." ng-model="newFriendForm.newFriend.dislikes">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Hobbies1 name.." ng-model="newFriendForm.hobbies.name">
    <input class="u-full-width" type="string" placeholder="Hobbies1 type.." ng-model="newFriendForm.hobbies.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Hobbies2 name.." ng-model="newFriendForm.hobbies1.name">
    <input class="u-full-width" type="string" placeholder="Hobbies2 type.." ng-model="newFriendForm.hobbies1.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Hobbies3 name.." ng-model="newFriendForm.hobbies2.name">
    <input class="u-full-width" type="string" placeholder="Hobbies3 type.." ng-model="newFriendForm.hobbies2.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Interests1 name.." ng-model="newFriendForm.interests.name">
    <input class="u-full-width" type="text" placeholder="Interests1 type.." ng-model="newFriendForm.interests.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Interests1 name.." ng-model="newFriendForm.interests1.name">
    <input class="u-full-width" type="text" placeholder="Interests1 type.." ng-model="newFriendForm.interests1.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Interests1 name.." ng-model="newFriendForm.interests2.name">
    <input class="u-full-width" type="text" placeholder="Interests1 type.." ng-model="newFriendForm.interests2.type">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Sign asc.." ng-model="newFriendForm.sign.asc">
    <input class="u-full-width" type="text" placeholder="Sign sun.." ng-model="newFriendForm.sign.sun">
    <input class="u-full-width" type="text" placeholder="Sign moon.." ng-model="newFriendForm.sign.moon">
    <input class="u-full-width" type="text" placeholder="Sign mercury.." ng-model="newFriendForm.sign.mercury">
    <input class="u-full-width" type="text" placeholder="Sign venus.." ng-model="newFriendForm.sign.venus">
  </div>
  <button class="buttonLog" id="newFriendFormButton">Submit</button>
